h2 {
    color: lightgrey;
    font-family: "Arial";
    padding: 5px;
    padding-top: 3px;
    margin: 0px;
    margin-right: 70%;
    border-style: solid;
    
}

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    background-color: black;
    
}

h1 {
    color: blue;
}

p {
    color: yellow;
    padding-left: 5px
}
li{
    padding-left: 5px;
}
div{
    border-style: dashed;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-top-width: 3px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

img {
    box-shadow: 5px 5px 5px 5px white;
    margin-top: 5px;
    margin-bottom: 10px;
}

#secret{
    margin-right: 75%;
}

#movie{
    margin-right: 75%;
}

#food{
    margin-right: 75%;
}

#state{
    margin-right: 75%;
}

#about{
    margin-right: 75%;
}

#website{
    margin-right: 75%;
}

#color{
    margin-right: 75%;
}

#questions{
    margin-right: 75%;
}

#experiments{
    margin-right: 65%;
}