h2 {
    color: lightgrey;
    font-family: "Arial";
    padding: 5px;
    padding-top: 3px;
    margin: 0px;
    margin-right: 70%;
    border-style: solid;
    
}

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    background-color:black;
    
}

h1 {
    color: blue;
}

p {
    padding-left: 5px
}
li{
    padding-left: 5px;
}
div{
     border-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-top-width: 3px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

img {
    margin-top: 5px;
    margin-bottom: 10px;
}

#experiments{
    margin-right: 55%;
}

#Links{
background-color: white
color black;

}

.bee1{
    color: 525252;
}

.bee2{
    color: yellow;
}
.list{
    margin-right: 60%;
}